%table
  %tr
    %td= f.label :name
    %td= f.text_field :name
  %tr
    %td= f.label :date
    %td= f.text_field :date
  %tr
    %td= f.label :audience
    %td= f.text_field :audience
  %tr
    %td= f.label :reference
    %td= f.text_field :reference
  %tr
    %td= f.label :description
    %td= f.text_area :description, :style => "height:120px;width:240px"
