%h1 events
%table.listing
  %tr
    %th NAME
    %th DATE
    %th COST
    %th AUDIENCE
    %th PLACE
    %th ORGANIZATION
    %th DESCRIPTION
    %th REFERENCE
    %th{:colspan => 2} &nbsp;

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.date
      %td= event.cost
      %td= event.audience
      %td= event.place ? event.place.name : ''
      %td= event.organization ? event.organization.name : ''
      %td= event.description
      %td= link_to_reference event.reference
      %td= link_to 'edit', edit_event_path(event)
      %td= link_to 'remove', event, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New event', new_event_path
