%h1 organizations
%table.listing
  %tr
    %th NAME
    %th PLACE
    %th DESCRIPTION
    %th REFERENCE
    %th{:colspan => 2} &nbsp;
  - @organizations.each do |organization|
    %tr
      %td= organization.name
      %td= organization.place ? organization.place.name : ''
      %td= organization.description
      %td= link_to_reference organization.reference
      %td= link_to 'edit', edit_organization_path(organization)
      %td= link_to 'remove', organization, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New organization', new_organization_path
