%h1 places
%table.listing
  %tr
    %th NAME
    %th LOCATION
    %th COST
    %th DESCRIPTION
    %th REFERENCE
    %th{:colspan => 2} &nbsp;

  %tr
  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.location
      %td= number_to_currency place.cost
      %td= place.description
      %td= link_to_reference place.reference
      %td= link_to 'edit', edit_place_path(place)
      %td= link_to 'remove', place, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New place', new_place_path
